body{
  background-color: #f4f4f4;
  margin: 0px;
}

h1, h2, h6{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  color: #44679f;
  font-size: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
}

h2{
  font-size: 1.2em;
  font-weight: 600;
}

h6 {
  font-family: 'Source Sans', sans-serif;
  font-size: 0.9em; 
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0.1em;
  padding-top: 1em;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
}
section{
  margin: 5%;
}

section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box-links {
  color: black;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #44679f;
}

.bottomBorder{
 border-bottom: .25em solid #44679f;
 background-color: #f4f4f4;
}

#statistik_bild{
  width: 100%;
}

#bigText{
  font-size: 120%;
}

.flexbox {
  display: flex;
  flex-direction: row-reverse;
  border: none;
}

.content {
  order: 1;
  width: 55%;
}

.sidebar {
  order: 2;
  width: 30%;
  margin-right: 0px;
}

.sidebar h2{
  color: #44679f;
  text-transform: uppercase;
  font-weight: 600;
}

.sidebar p{
  font-weight: 500;
}

/*logo av felix*/
.logo {
  display: flex;
  margin-top: 6em;
  margin-left: 1em;
  margin-bottom: 2em;
}

.m {
  width: 100%;
  height: 100%;
}

.m:after {
  content: 'M';
  font-size: 99px;
  line-height: 76px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 1em;
  animation: slideIn 2s both 1s;
  animation-timing-function: ease-in;
  position: absolute;
}

.box {
  height: 71px;
  width: 71px;
  margin-right: 0.8em;
}

.yh {
  font-weight: bolder;
  background-color: #C0D9E5 ;
  width: 71px;
  height: 71px;
  text-align: center;
  font-size: 2em;
  line-height: 1px;
  font-family: Arial, Helvetica, sans-serif;
  animation-name: boxSpin;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 3s;
}

@keyframes slideIn {
  from {
    left: 100%;
  }
    
  to {
    left: 12em;
  }
}

@keyframes boxSpin {
  from {
    transform: rotateZ(0deg);  
  }
  to {
    transform: rotateZ(360deg);
  }
}
/*logo end*/

/*footer*/ 
footer {
  background: #112D4E;
  margin-top: 10%; 
  color: #F4F4F4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3em 0;
}

footer a:link, footer a:visited {
  color: #F4F4F4;
  text-decoration: none;
}

footer a:hover {
  color: #44679F;
  text-decoration: underline;
}

address, footer p, footer ul {
  list-style-type: none;
  font-size: 0.8em;
  word-spacing: 0.2em;
  line-height: 1.5em;
}

address {
  font-family: 'Lato', sans-serif;
  font-style: normal; 
  padding-top: 1em;
}

footer img{
  width: 40px;
  height: 40px;
  border: 0px;
}

.footerLinks ul {
  padding-left: 0;
}

.footerIcons ul {
  padding: 1em 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

#Madeby {
  color: pink; 
  font-weight: 600; 
  font-size: 0.7em;
}
 
/*Menu*/
.menu-pages {
  overflow-y: auto;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #112D4E;
}

.hamburger, .menu-button {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1;
}
.cross, .menu-button.open {
  background: none;
  position: fixed;
  top: 0px;
  left: 0;
  padding: 7px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.menu-pages a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0;
  color: #f4f4f4;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  margin: auto;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  display: inline-block;
  border-radius: 4px;
  line-height: 2.5em;
}

@media only screen and (max-width: 320px) {
  footer {
    padding: 0;
  }
}

@media only screen and (min-width: 1000px) {
    
  .menu-button {
    display: none;
  }

  .menu-pages {
    display: block !important;
  }
}

@media screen and (min-width: 641px) and (max-width: 1254px){
  .logo{
    margin-top: 8em;
  }
}

/*mobile*/
@media only screen and (max-width: 640px) {
  .flexbox{
    flex-direction: column;
  }

  .content {
    width: auto;
  }

  .sidebar {
    width: auto;
    margin: 5%;
  }
  
  /*footer*/
  footer {
  flex-direction: column; 
  padding: 3em;
  }

  h6 {
    padding-top: 1.5em;
      
  }

  footer p, .footerLinks ul {
    margin: 0;
  }

  address {
    padding-top: 0;
  }

  #Madeby {
    padding-top: 1em;
  }

  .menu-button {
    display: block;
  }

  .menu-button:after {
      content: '\002630';
  }

  .menu-button.open:after {
      content: '\0002DF';   
  }

  .cross {
      display: none;
  }
  .menu-pages {
      display: none;
      flex-direction: column;
      margin-top: 50px;
  }

  .menu-pages nav ul {
      display: flex;
      flex-direction: column;
      padding: 5px;
      justify-content: center;
  }

  .box {
      animation: none;
  }

  .yh {
      animation: none;
  }
  .title {
      animation: none;
      padding-left: 10.5em;
      
  }

}